/* Container */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eef1f5;
  font-family: Arial, sans-serif;
}

/* Box */
.box {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  text-align: center;
}

.box h2 {
  margin-bottom: 20px;
  font-weight: 600;
}

/* Inputs */
input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border: 1px solid #bbb;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
}

/* Button */
.btn-primary {
  width: 100%;
  padding: 12px;
  background: rgb(60, 115, 255);
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
}

.btn-primary:hover {
  background: rgb(40, 95, 240);
  transition: 0.3s ease;
}

/* Switch text */
.switch-text {
  margin-top: 10px;
}

.switch-text span {
  color: blue;
  cursor: pointer;
  font-weight: 600;
}
